
service supolicy /sbin/supolicy --live \
	"allow sensors diag_device chr_file { read write open ioctl }" \
	"allow sensors sensors capability net_raw" \
	"allow init kernel security setenforce" \
	"allow netmgrd netmgrd netlink_xfrm_socket nlmsg_write" \
	"allow netmgrd netmgrd socket { read write open ioctl }"
     disabled
     oneshot

service run_earlier /sbin/lk-early-boot.sh
     disabled
     oneshot

on fs
     start supolicy

on post-fs-data
     start run_earlier

on boot
     chown system system /sys/class/leds/charging/brightness
     chown system system /sys/class/leds/charging/max_brightness

service lk-post-boot /sbin/lk-post-boot.sh
     class late_start
     user root
     disabled
     oneshot

on property:sys.boot_completed=1
     start lk-post-boot

# profiles for compatibility with franco - basics only
on property:sys.boot_completed=1
    # Allows franco.Kernel updater to know this feature is supported
    setprop fku.profiles 1

# Power saving profile
on property:fku.perf.profile=0
    write /sys/module/cpufreq/parameters/custom_max_freq 2265600
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2265600
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2265600
    write /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/max_freq 389000000
    write /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/governor simple_ondemand
    write /sys/devices/system/cpu/sched_balance_policy/current_sched_balance_policy powersaving

# Balance
on property:fku.perf.profile=1
    write /sys/module/cpufreq/parameters/custom_max_freq 2265600
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2265600
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2265600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2265600
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 2265600
    write /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/max_freq 600000000
    write /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/governor simple_ondemand
    write /sys/devices/system/cpu/sched_balance_policy/current_sched_balance_policy powersaving

# Performance (leanKernel defaults)
on property:fku.perf.profile=2
    write /sys/module/cpufreq/parameters/custom_max_freq 2649600
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2649600
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2649600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2649600
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 2649600
    write /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/max_freq 600000000
    write /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/governor msm-adreno-tz
    write /sys/devices/system/cpu/sched_balance_policy/current_sched_balance_policy performance
