on boot
     chown system system /sys/class/leds/charging/brightness
     chown system system /sys/class/leds/charging/max_brightness

service lk-post-boot /sbin/lk-post-boot.sh
     class late_start
     user root
     disabled
     oneshot

on property:sys.boot_completed=1
     start lk-post-boot
