
service supolicy /sbin/supolicy --live "allow adbd adbd process setcurrent" \
	"allow adbd init process dyntransition" \
	"allow sensors diag_device chr_file { read write open ioctl }" \
 	"allow { isolated_app shared_relro } init unix_stream_socket connectto"	
     disabled
     oneshot

service selinux_mode /sbin/lk-selinux-mode.sh
     disabled
     oneshot

on fs
     start supolicy

on post-fs-data
     start selinux_mode

on boot
     chown system system /sys/class/leds/charging/brightness
     chown system system /sys/class/leds/charging/max_brightness

service lk-post-boot /sbin/lk-post-boot.sh
     class late_start
     user root
     disabled
     oneshot

on property:sys.boot_completed=1
     start lk-post-boot
